@(boards: Seq[Int])

@import com.marble.core.web.views.html.desktop.components
@import com.marble.core.data.db.models._
@import com.marble.utils.Etc; var carouselId = 0;

@components.base("Welcome to Marble"){
    <style>
        .follow-btn {
            padding: 4px 6px;
            font-size: 14px;
            font-weight: bold;
            width: 175px;
            height: 32px;
        }

        .btn-text {
            font-size: 14px;
        }

        .trending-group-header {
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .trending-group-descr-content {
            font-size: 15px;
        }

        .trending-group-descr {
            margin-top: 0;
        }

        .trending-group-bottom {
            height: 93px;
            padding-bottom:0;
        }

        .trending-group-name {
            font-size: 18px;
        }

        .follow-container {
            padding-bottom: 15px;
            text-align:center;
        }

        .notfollowing .unfollow-text {
            display: none;
        }
    </style>
}{
    <body class="main-background">
        @components.welcome_masthead()
        <div class="outside-box">
            <div class="inside-box">
                <div class="box-header">
                    Welcome. <span class="box-subheader">Let me help you get started.</span>
                </div>

                <div class="main-body">
                    <div class="body-header">
                        Join some boards you are interested in:
                    </div>

                    <div class="interest-boards">
                        @for(i <- boards) {
                            @defining(Board.find(i)) { board =>
                                @if(board.isDefined) {
                                    <div class="interest-item notfollowing" data-group-id="@board.get.boardId.get">
                                        <div class="item-inner">
                                            <div class="item-selected">
                                                <div class="check">&nbsp;</div>
                                                <div class="mask">&nbsp;</div>
                                            </div>
                                            <div class="item-wrapper">
                                                <div class="interest-image" style="background-image:url(@(board.get.photo + "_prof"));"></div>
                                                <div class="interest-label">
                                                    <div class="interest-label-text">
                                                        @(board.get.name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="next-container" style="text-align:right;margin-top:15px;">
                    <a href="#" class="btn btn-primary cont-btn">Continue</a>
                </div>
            </div>
        </div>

        <script>
            $(function() {

                var index = 0;

                $(document).on('click', '.notfollowing', function(e) {
                    var group_id = $(this).data('group-id');
                    var $this = $(this);
                    $this.addClass('following');
                    $this.removeClass('notfollowing');
                    $.ajax({
                        url: '/a/group/' + group_id + '/follow',
                        type: 'POST',
                        dataType: 'json'
                    });

                    return false;
                });

                $(document).on('click', '.following', function() {
                    var group_id = $(this).data('group-id');
                    var $this = $(this);
                    $this.addClass('notfollowing');
                    $this.removeClass('following');
                    $.ajax({
                        url: '/a/group/' + group_id + '/unfollow',
                        type: 'POST',
                        dataType: 'json'
                    });
                    return false;
                });

                $('.cont-btn').click(function(e) {
                    e.preventDefault();
                    window.location.href = "/gettingstarted";
                });

            });
        </script>

    </body>
}

