@(comment: Comment, user: Option[User], board: Board, originalPoster: Int, children: Seq[Comment])(expanded: Boolean = false,
        vote: Option[CommentVote] = user.flatMap{u => CommentVote.findByCommentAndUser(comment.commentId.get, u.userId.get)},
        commenter: User = User.find(comment.userId).get,
        root: Boolean = false,
        anonImg: String = "https://static.themarble.co/image/anon",
        timestamp: Boolean = true
        )

@import com.marble.utils.Etc
@import com.marble.core.data.db.models._
@import com.marble.core.web.views.html.desktop.components

<div class="@if(root){root-comment }comment-container" data-commenter-username="@commenter.username">
    <div class="comment" data-comment-id="@comment.commentId.get" data-post-id="@comment.postId">
        @if(comment.status == 1) {
            <div class="comment-avatar">
                <img src="@(anonImg + "_small")" class="avatar" style="height:32px;width:32px;border-radius:3px;"/>
            </div>
            <strong style="font-weight:500;margin-right:2px;margin-left:5px;" class="deleted-user">
                [deleted]
            </strong>
        } else {
            <div class="comment-avatar">
                <a href="/user/@commenter.username">
                    <img src="@(commenter.photo + "_small")" class="avatar" style="height:32px;width:32px;border-radius:3px;"/>
                </a>
            </div>
            <a href="/user/@commenter.username" style="margin-right:2px;margin-left:5px;" class="commenter-anchor@if(originalPoster == comment.userId){ op-post}">
                <strong>@commenter.name</strong><span class="commenter-username">@@@commenter.username</span>
            </a>
        }
        @if(timestamp) {
            ·
            <span class="comment-timestamp">
                <a class="post-timestamp" href="/@board.name/comments/@comment.commentId.get">
                @Etc.convertEpochToTimestamp(comment.time)
                </a>
            </span>
        }
            @if(comment.status != 1) {
                <p class="comment-content">
                    @Html(Etc.parseHTML(comment.data))
                </p>
                @if(comment.media.nonEmpty) {
                    @defining(Media.find(comment.media.head)) { media =>
                        <div class="comment-picture-container">
                            <a class="fluidbox" href="@media.head.mediaUrl">
                            @if(media.head.mediaType == 1) {
                                <img src="@(media.head.mediaUrl)" class="post-picture">
                            } else {
                                <img src="@(media.head.mediaUrl + "_med")" class="post-picture">
                                }
                            </a>
                        </div>
                    }
                }
            } else {
                <p class="comment-content">
                    [comment deleted]
                </p>
            }
        <div class="comment-actions">
            <div class="like-count" style="margin:0;display:inline-block;vertical-align: text-top;line-height:1;">
                @comment.votes
            </div>
            ·
            @if(comment.status != 1) {
                <a href="#" class="c-action no-dec like@if(vote.isDefined && vote.get.value == 1) { liked}">
                    <i class="icon-upvote" style="vertical-align:text-top;"></i>
                </a>
                <span style="color : #ccc" class="vote-separator"> | </span>
                <a href="#" class="c-action no-dec dislike@if(vote.isDefined && vote.get.value == -1) { disliked}" style="margin-left:-2px;margin-right:-2px;">
                    <i class="icon-downvote"></i>
                </a>
                <span class="c-action-separator"> · </span>
            }
            <a href="#" class="c-action reply@if(root){ root}">
                <span class="color-blue">Reply</span>
            </a>
                <div class="comment-options-dropdown dropdown">
                    <a href="#" class="c-action comment-options" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal option-icon"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a class="comment-permalink" href="/@board.name/comments/@comment.commentId" target="_blank">
                                <span class="glyphicon glyphicon-link"></span>
                                Permalink
                            </a>
                        </li>
                        @if(user.isDefined && comment.status != 1 && (user.get.userId.get == commenter.userId.get || user.get.admin)) {
                            <li role="presentation">
                                <a class="comment-delete" href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Delete
                                </a>
                            </li>
                        }
                    </ul>
                </div>
        </div>
        <div class="comment-children-container@if(!root) { child}">
            @if(expanded) {
                @for(child <- children) {
                    @components.comment(child, user, board, originalPoster, Seq())(expanded = expanded)
                }
            }
        </div>
    </div>
</div>
